node_modules
.mcscriptStudioCodeIgnore
.mcscriptStudioCode
builds/linux/ia32/mcscriptStudioCode-linux-ia32
builds/linux/x64/mcscriptStudioCode-linux-x64
builds/win32/ia32/mcscriptStudioCode-win32-ia32
builds/win32/x64/mcscriptStudioCode-win32-x64
backups
backup-plugins.bat
backup-app.bat
plugins/types
config.yml
full
minified
no-comments
